.main-menu {
  width: 60%;
  margin: 2rem auto;
  padding: 1rem;
  background-color: #343a40;
  border-radius: 10px;
}

.main-menu a {
  margin: auto 1rem;
}

#brand {
  font-size: 18px;
  margin: auto 1rem;
  color: white;
  float: left;
}
