html {
  position: relative;
  min-height: 100%;
}

body {
  background: black;

  /* Change this to the desired background image */
  background-image: url('../img/bg-1.png');
  /* ------------------------------------------- */

  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-bottom: 10rem;
}

.formContainer {
  margin-top: 1rem;
  max-width: 400px;
  padding: 1rem;
  background: #3a3a3a;
  border-radius: 20px;
  color: white;
  box-shadow: 0 0 40px black;
}

.header-logo img {
  margin-top: 2rem;
}

/* Extra styling for plaintext form controls (status message) */
.form-control-plaintext {
  color: white;
  padding-left: 1rem;
  vertical-align: middle;
  width: 70%;
}

.footerContainer {
  position: absolute;
  bottom: 0;
  width: 100%;
  max-width: 100%;
  background: #3a3a3a;
  text-align: center;
  padding: 2rem 0;
}

.footerContainer p {
  margin: 0;
}
