body {
  background-image: url('../img/background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 0 0;
}

.container {
  margin-top: 3rem;
  max-width: 400px;
  padding: 1rem;
  background: #3a3a3a;
  border-radius: 20px;
  color: white;
  box-shadow: 0 0 40px black;
}

.header-logo {
  margin-top: 2rem;
}

/* Extra styling for plaintext form controls (status message) */
.form-control-plaintext {
  color: white;
  padding-left: 1rem;
  vertical-align: middle;
  width: 70%;
}
